body {

    font-family: Arial;
    padding: 20px;

}

.row {

    margin: 8px 0;

}

input {

    padding: 5px;
    margin: 3px;

}

.error {

    border: 2px solid red;

}

.ok {

    border: 2px solid green;

}

.msg {

    font-size: 12px;

}